!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2 Thank you for your subscription, we will be contacting you about the plantation you are interested in and the details of the property.  
    
